<div class="contenedor">
  <ul class="titulo" >
    <li>
      <div>
        ID
      </div>
      <div>
        NOMBRE
      </div>
      <div>
        SUELDO
      </div>
      <div>
        SUCURSAL
      </div>
      <div></div>
    </li>
  </ul>
  <ul *ngFor="let tecnico of listTecnicos" class="lista">
    <li  (click)="viewTecnico(tecnico)">
      <div>
        {{ tecnico.id }}
      </div>
      <div>
        {{tecnico.nombre}}
      </div>
      <div>
        {{tecnico.sueldo}}
      </div>
      <div>
        {{tecnico.sucursal}}
      </div>
      <div>
        <div class="bontonEliminar" (click)="dropElement(tecnico.id)">Eliminar</div>
      </div>
    </li>
  </ul>
</div>
<p>Trabajador seleccionado</p>
<app-view-empleado [tecnico]="tecnico"></app-view-empleado>


